body {
    font-family: 'Century', sans-serif;
    margin: 0;
    padding: 0;
    background-color:
        #fff6f6;
    box-sizing: border-box;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff6f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login {
    background-color: #000407 !important;
    color: #ffffff !important;
    border: 1px solid black !important;
    border-radius: 13px !important;
    cursor: pointer;
    width: 220px;
    height: 40px;
    font-size: 15px !important;
    font-weight: 700;
    font-family: Inter, san-serif;
}
.green {
    color: #8A8328;

}
span>a {
    color: #8A8328;
    margin-bottom: 35px;
}
.jump {
    color: #0a0a0a;
    margin-bottom: 35px;
    text-decoration: none !important;
    font-weight: 700;
}
.loginSocialMedia {
    background-color: #f7fafc;
    color: #232221;
    border: 3px solid #FFDBDB;
    border-radius: 13px !important;
    cursor: pointer;
    width: 250px;
    height: 40px;
    font-size: 15px !important;
    font-weight: 500;
    font-family: Inter, san-serif;
    display: inline-block;
}

i {
    font-size: 20px;
}

.login-container-register {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff6f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkCircle {
    font-size: 12px !important;
}
.rounded-input {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.rounded-input input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
}

.rounded-input label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7d9e6;
    color: #020202;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    width: 20%; 
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rounded-input input[type="file"]:focus+label,
.rounded-input input[type="file"]:valid+label {
    background-color: #d5e0e7;
}

#selectedImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    display: block;
}
.bgPink{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #ffdcdc, rgba(255, 255, 255, 0));}

    
    #sidebar {
        height: 100vh;
        width: 250px;
        color: #fff;
        padding-top: 20px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        transition: width 0.3s ease;
    }
    .collapsed {
        width: 60px; 
    }
    #profile {
        text-align: center;
        padding: 10px;
    }

    #profile img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    #menu {
        padding: 20px;
    }

    #menu a {
        display: block;
        color: #524e4e;
        text-decoration: none;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-weight: 500;
    }

    #menu a:hover {
        background-color: #ffdcdc;
        color: black;
    }
    #menu a:active {
        background-color: #ffdcdc;
        color: black;
    }

    #toggleSidebar {
        background: none;
        border: none;
        color: #614f4f;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    #logout {
        position: fixed;
        bottom: 20px;
        left: 20px;
            }
                    .search-container {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 200px; 
        }
        
        .search-input {
            flex-grow: 1;
            padding: 10px 30px;
            border: 1px solid #ccc;
            border-radius: 15px;
            font-size: 16px;
            outline: none;
            margin-right: auto;
            margin-left: auto;
            
        }
        
        .icon-container {
            display: flex;
            align-items: center;
        }
        .sort-icon:hover{
        background-color: #ffdcdc;
        color: black;
    }
    .filter-icon:hover{
        background-color: #ffdcdc;
        color: black;
    }

        .search-icon,
        .filter-icon,
        .sort-icon
        {
            font-size: 20px;
            color: #aaa;
            cursor: pointer;
            margin-left: 10px; 
        }
    
.fs-bold {
    font-weight: 500;
}
#search{
    position:absolute ;
    top:6% ;
    left: 58% ;
    transform: translate(-50%, -50%) ;
}

.product-item {
    background-color: #f8f9fa;
    border: 1px solid rgb(121, 116, 116);
    border-radius: 10px;
}

.product-item:hover {
    background-color: #e9ecef;
}

.product-item .product-details h4 {
    font-size: 18px;
    font-weight: bold;
}


.product-item .actions  {
    font-size: 16px;
}

.product-item .actions i {
    font-size: 20px;
    color: #474a4d;
}

.product-item .actions i:hover {
    color: #474a4d;
}
.plus {
    font-size: 35px;
    color: white;
    background-color: #8A8328;
    margin-left: 10px;
    border-radius: 5px;
}
#listButton {
    border:none;
    background-color: white;
}
#tableButton {
    border:none;
    background-color: white;

}
.color-square {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px; 
    border: 1px solid #ccc; 
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination > .page-item > .page-link {
    color: #333; 
    margin: 0 5px;
    padding: 5px ;
    background-color: #fff; 
    border:none;
    font-size: 30px;




}
.customBorder {
    position: relative;
    border: 1px solid #000; 
}

.customBorder::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px; 
    transform: translateY(-50%);
    width: 8px; 
    height: 8px; 
    background-color: #000; 
    border-radius: 50%; 
}
.pagination > .page-item > .page-link:hover {
    background-color: #f0f0f0;
    font-size: 20px; 
}

.pagination > .page-item.active > .page-link {
    color: #c52b2b; 
    font-size: 30px; 
}
.pagination > .page-item > .page-link[rel="prev"],
.pagination > .page-item > .page-link[rel="next"] {
    font-size: 36px; 
    border:none;
    color: black;
}
.checkbox-list {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-option {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #ffdcdc;
    margin-left: 10px;
}

.checkbox-option.selected {
    background-color: #8A8328;
    color: black;
    border: 1px solid black;
}
select[multiple] option:checked {
    color: red;
    font-weight: 500;
    background-color: transparent;
}
#tags_id,#tag_id {
    display: inline-block !important;
    vertical-align: middle; 
    margin-right: 5px;
}

#tags_id option , #tag_id option {
    display: inline-block;
}
select {
     border:1px solid black;
     border-radius: 5px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; 
    display: none; 
}

.dropdown-menu.show {
    display: block;
}
#uploadSection {
    display: block; 
    margin-top: 20px;
    padding: 20px;
}
.file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a5acb3; 
    color: #fff; 
    border-radius: 5px;
    cursor: pointer; 
}

.file-upload:hover {
    background-color: #010b16; 
}
@media (max-width:1025px){
    #search{
        position:absolute !important ; 
        top:7% !important;
        left: 58% !important;
        transform: translate(-50%, -50%) !important;
    }
}


@media (max-width: 768px) {
    #sidebar {
        width: 150px; 
    }
    .removeText {
        display: none;
    }
    #toggleSidebar {
        display: none;
    }
    .search-input{
        width: 100%;
        /* margin-left:50px;
        padding-left: 60px;
        padding-right: 60px; */
    }
    #search{
        position:absolute;
        top:7%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 427px) {

    #search{
        position:absolute !important;
        top:7% !important;
        left: 60% !important;
        transform: translate(-50%, -50%) !important;
    }
    .smallMargin{
        margin:5px 30px;

    }

  
}

@media (max-width: 427px) {
     .login {
        background-color: #000407 !important;
        color: #ffffff !important;
        border: 1px solid black !important;
        border-radius: 13px !important;
        cursor: pointer;
        width: 100px;
        height: 40px;
        font-size: 15px !important;
        font-weight: 700;
        font-family: Inter, san-serif;
    }
     /* #sidebar{
        width: 0;
    } */
   .w-sm-25{
        width: 75% !important;
        margin-right: auto;
        margin-left: auto;
       
    }
   .centerMediumAndSmall{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
  
}
@media (max-width: 424px) {
    #search{
        position:absolute !important;
        top:7% !important;
        left: 48% !important;
        transform: translate(-50%, -50%) !important;
    }
    .smallMargin{
        margin:5px 30px;

    }
    .w-sm-25{
        width: 50% !important;
       
    }

}
